nav {
    padding-left: 10px;
    border-top: thin #5b7d87 solid;
    border-bottom: thin #5b7d87 solid;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 1%;
}

nav .btn {
    background-color: #e6ecff;
    color: #fef9ff;
}

nav .btn:hover {
    font-weight: bold;
}

a:hover {
   font-weight: bold;
 }

.jumbotron {
background-color: #e6f7ff;
}

.content {
background-color: #e6f7ff;
padding-top: 1%;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 1%;
}

a {
  color: black;
}

a:visited {
 color:red;
}

a:active {
 font-weight: normal;
}


header {
  padding-left: 100px;
  padding-right: 50px;
}

footer {
  margin-top: 20px;
  font-size: 100%;
  border-top: thin #5b7d87 solid;
  text-align: center;
  bottom: 0;
  width: 100%;
}
